<script setup>
// https://blog.csdn.net/Raccon_/article/details/132336314?spm=1001.2101.3001.6650.3&utm_medium=distribute.pc_relevant.none-task-blog-2%7Edefault%7EYuanLiJiHua%7EPosition-3-132336314-blog-128582108.235%5Ev38%5Epc_relevant_sort&depth_1-utm_source=distribute.pc_relevant.none-task-blog-2%7Edefault%7EYuanLiJiHua%7EPosition-3-132336314-blog-128582108.235%5Ev38%5Epc_relevant_sort&utm_relevant_index=4

// https://blog.csdn.net/wed2019/article/details/128248535?spm=1001.2101.3001.6650.2&utm_medium=distribute.pc_relevant.none-task-blog-2%7Edefault%7ECTRLIST%7ERate-2-128248535-blog-132336314.235%5Ev38%5Epc_relevant_sort&depth_1-utm_source=distribute.pc_relevant.none-task-blog-2%7Edefault%7ECTRLIST%7ERate-2-128248535-blog-132336314.235%5Ev38%5Epc_relevant_sort&utm_relevant_index=3

// https://segmentfault.com/a/1190000012453975
const audioSrc = ref('')
const audio = ref(null) // 音频实列
const autoplay = ref(false)
const loop = ref(false) // 为true的时候则设定为自动播放
const volume = ref(0.3) //音量值,从0.0至1.0之间
const muted = ref(false) //  设置是否静音
const handClick = () => {
  // 外部链接
  // audioSrc.value = `https://mp3在线地址`
  // 本地链接
  audioSrc.value = new URL('@/assets/music/ring.mp3', import.meta.url).href
  console.log(audioSrc.value)
  nextTick(() => {
    audio.value?.play()
  })
}
const handPause = () => {
  nextTick(() => {
    audio.value?.pause()
  })
}
</script>

<template>
  <div>
    <button @click="handClick">播放</button>
    <button @click="handPause">暂停</button>
    <audio
      v-show="false"
      ref="audio"
      :src="audioSrc"
      controls
      :loop="loop"
      :volume="volume"
      :muted="muted"
      :autoplay="autoplay"
    ></audio>
  </div>
</template>
